$--borderColor: #03a9f3;
$--width: 140px;
$--height: 64px;

%--box {
  width: $--width;
  height: $--height;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.border1 {
  @extend %--box;

  border: 1px solid $--borderColor;

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: -5px;
    border-top: 1px solid $--borderColor;
    border-left: 1px solid $--borderColor;
    transition: .3s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -5px;
    right: -5px;
    border-bottom: 1px solid $--borderColor;
    border-right: 1px solid $--borderColor;
    transition: .3s ease-in-out;
  }

  &:hover::before,
  &:hover::after {
    width: calc($--width + 9px);
    height: calc($--height + 9px);
  }
}

.border2 {
  @extend %--box;
  outline: 1px solid #333;
  outline-offset: -1px;

  &:hover {
    outline: none;
    background: 
      linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
      linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
      linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
      linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
    background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .3s infinite linear;
  }

  @keyframes linearGradientMove  {
    100% {
      background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
  }
}

.border3 {
  @extend %--box;

  z-index: 0;
  padding: 2rem;
  overflow: hidden;
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
    
    @keyframes rotate  {
      100% {
        transform: rotate(1turn);
      }
    }
  }

  &::after { // 透明內裡
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
		animation: opacityChange 3s infinite alternate;

    
    @keyframes opacityChange {
      50% {
        opacity:1;
      }
      100% {
        opacity: .5;
      }
    }
	}
}

.border4 {
  @extend %--box;

  padding: 2rem;
  z-index: 0;
  overflow: hidden;
  

  &::before {
    content: "";
    position: absolute;
		z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 50% 50%;
		background-position: 0 0;
    background-image: conic-gradient(#399953, #399953);
		animation: rotate 4s linear infinite;
  }

  &::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
		animation: opacityChange 3s infinite alternate;

    @keyframes opacityChange {
      50% {
        opacity:1;
      }
      100% {
        opacity: .5;
      }
    }
	}
}