:root {
  --sidebarWidth: 200px;
}

.app {
  display: flex;
  padding: 30px;
  background-color: #fff;
}

.sidebar {
  list-style: none;
  padding: 0;
  width: var(--sidebarWidth);
  font-size: 20px;
}

a {
  color: #277bc0;
}

a:visited {
  color: #277bc0;
}

.route {
  /* flex-grow: 1; */
  width: calc(100% - var(--sidebarWidth));
}

.imgCode {
  width: 800px;
}