:root {
  --sidebarWidth: 300px;
}

.app {
  display: flex;
  padding: 30px;
  background-color: #fff;
}

.sidebar {
  list-style: none;
  padding: 0;
  width: var(--sidebarWidth);
  font-size: 20px;
}

a {
  color: #277bc0;

  &:visited {
    color: #277bc0;
  }

  &:hover {
    color: red;
  }
}

.route {
  width: calc(100% - var(--sidebarWidth));
}