.app {
  display: flex;
  padding: 30px;
  background-color: #fff;
}

.sidebar {
  list-style: none;
  padding: 0;
  margin: 30px 30px 0 0;
  font-size: 20px;
}

a {
  color: #277bc0;
}

a:visited {
  color: #277bc0;
}

.route {
  flex-grow: 1;
}
